<div class="box p-3">
    <h2>Friends</h2>
    {% for key, friend in app.user.friends %}
        {% if key != 0 %}
			<hr>
		{% endif %}
        <div class="friend">
            <a href="{{ path('profile.index', { user: friend.id }) }}" class="btn text-white">{{ friend.username }}</a>
        </div>
    {% endfor %}

    {% if app.user.friends|length == 0 %}
        <p class="text-center">You have no friends yet.</p>
    {% endif %}
</div>