<div class="box p-3 sticky-md-top sticky-lg-top sticky-xl-top">
    <h2>Friends</h2>
    {% for key, friend in app.user.friends %}
        {% if key != 0 %}
			<hr>
		{% endif %}
        <div class="friend">
            <a href="">{{ friend.username }}</a>
        </div>
    {% endfor %}
</div>