<div class="profile-sidebar box sticky-md-top sticky-lg-top sticky-xl-top">
	<div class="d-flex jcb">
		<div class="d-flex flex-column p-2">
			<h2 class="h6 m-0">{{ app.user.username }}</h2>
			<h2 class="h6 m-0">{{ app.user.friends|length }}
				friends</h2>
		</div>
		<i class="bi bi-gear-fill"></i>
	</div>
</div>
