<div class="profile-sidebar box">
	<h2 class="h4 p-2">Me</h2>
	<hr>
	<div class="d-flex jcb">
		<div class="d-flex flex-column p-2">
			<h2 class="h6 m-0">{{ app.user.username }}</h2>
			<h2 class="h6 m-0">{{ app.user.friends|length }}
				friends</h2>
		</div>
		<a href="{{ path('profile.index', { user: app.user.id }) }}" class="btn text-white">Profile</a>
	</div>
</div>
